name: pixel_pet_companion
description: A modular, offline-only pixel pet app. No backend. Local persistence with shared_preferences.
publish_to: "none"
version: 1.1.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
